/* body {
  margin: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
  background-color: skyblue;
}

.logoImg {
  background-image: url("../images/pfl.png");
  height: 123px;
  width: 123px;
  background-position: center;
  background-size: cover;
  position: relative;
  float: left
}

h1 {
  text-align: center;
} */

/* .nav { 
  
  float: left;
  overflow: hidden;
  background-color: rgb(236, 185, 44);
  text-align: center;
}

.nav a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.nav a:hover {
  background-color: rgb(165, 194, 201);
  color: black;
  text-decoration: underline;
}

.main {
  margin: 25px;
  float: left;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: rgb(167, 69, 4);
  
}

li a:hover {
  color: rgb(219, 90, 3);
  text-decoration: underline;
}





.row {
  border-style: double;
  text-align: center;
  max-width: 400px;
}

.navimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  float: right;
}

.list-group-item {
  text-align: left;
} */




body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
  border: 1px solid black;
  margin: 2rem;
  /* margin-bottom: 5rem; */
  padding: 2rem 2rem 0 2rem;
  background-color: antiquewhite;
  min-height: 55rem;
}



header {
  margin-left: auto;
  margin-right: auto;
}

.headerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 10%; */
}

nav {
  margin-left: auto;
  margin-right: auto;
  float: none;
  min-width: auto;
  width: 80%;
  /* background-color: aquamarine; */
  /* border-bottom: 1px solid black; */
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  /* background-color: aquamarine; */
  font-size: large;
  padding: 1rem;
}

nav a {
  text-decoration: none;
}
nav a:link {
  color: rgb(5, 100, 145);
}

nav a:visited {
  color: rgb(1, 1, 100);
}

nav a:hover {
  color: rgb(92, 146, 5);
}

nav a:focus {
  color: aliceblue;
}

.mainimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  float: right;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
}

.featuredpet {
  /* border: 1px solid black; */
  text-align: left;
}

.list-group {
  list-style: none;
  text-align: left;
}

footer {
  text-align: center;
  color: darkslategray;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 10rem;
  font-size: 12px;
  /* border: 1px solid black; */
  
}

footer a {
  text-decoration: none;
}

.dropdown {
  background-color: #fff;
  font-size: large;
  text-align: center;
  border-radius: 0.5rem;
  color: darkslategrey
}

.zip {
  border-radius: 0.5rem;
  font-size: large;
  text-align: center;
}

.submit {
  font-size: large;
  padding: .2rem;
  border-radius: 0.5rem;
  color:rgb(1, 1, 100)
}

.label {
  font-size: 21px;
  color:rgb(1, 1, 100)
}

.results {
  /* border: 1px solid black; */
  max-width: fit-content;
}

/* .list-group {
  border: 1px solid black;
} */

.row {
  border: 2px solid rgb(247, 210, 91);
  padding: 1rem;
}

.pet {
  color:rgb(1, 1, 100);
  text-align: center;
}
.text-secondary {
  text-align: center;
}

.list-group-item {
  text-align: left;
}

.sendmsg {
  border-radius: 0.3rem;
}

.featuredtitle {
  text-decoration: underline;
  color: rgb(1, 1, 100)
}

.featuredpet {
  max-width: fit-content;
  text-align: center;
  /* border: 2px solid rgb(247, 210, 91); */
  padding: 1rem;
}