<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/pets.js"></script>
  <title>pet website</title>
</head>

<body>
  <h1>pets for life</h1>
  <div class="nav">
    <a class="active" href="index.html">home</a>
    <a href="#pets">pets</a>
    
  </div>
  <div class="main">
    <h2>welcome!</h2>
    <p>content here</p>
    <br><br>

   
    





  </div>
  
</body>
<footer class="footer">
  <br><br>
  <p><small>contact us</small></p>
  <small><a href="mailto:kcooper11@student.cvtc.edu">kat cooper</a></small><br>
  <small><a href="mailto:colliernw@gmail.com">nicholas collier</a></small>
</footer>

</html>